.btn {
  font-family: Balto, sans-serif;
}

.job-details .btn {
  margin: auto 4%;
}

.job-details {
  font-family: Balto, sans-serif;
}

.card {
  width: 60%;
  margin: 2% auto;
  text-align: left;
  background-color: #f9f8fc;
}

.cardText {
  font-family: Balto, sans-serif;
}

.infoText {
  font-size: 14px;
}

.payText {
  font-size: 20px;
  color: #008055;
  font-weight: 600;
}

.titleText {
  font-size: 16px;
  font-weight: bold;
}
